/* Startup icons */

#top-bar span a:hover {
    cursor: pointer;
}

#top-bar span a:nth-last-child(3) {
    color: #002f49;
    filter: drop-shadow(0 0 1px #d1d1d1);
}

#top-bar span a:nth-last-child(2) {
    color: #f84e00;
}

#top-bar span a:last-child {
    display: inline-block;
    color: #d1d1d1;
    transition: .5s;
}

#top-bar span a:last-child.expanded {
    width: 80px;
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    text-align: center;
}

/* Scrollbars */
#da-popup ::-webkit-scrollbar {
    width: 13px;
}

#da-popup ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .3);
}

#da-popup ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, .3);
}

#da-popup ::-webkit-scrollbar-thumb {
    background: rgb(114, 114, 114);
    border-radius: 5px;
}

#da-popup ::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 82);
}

/* Popup */

#da-popup {
    --themeColor: rgb(144, 144, 144);
    /* display: flex; */
    /* flex-direction: column; */
    position: absolute;
    right: 0;
    top: 29px;
    width: 400px;
    height: 400px;
    z-index: 100;
    transition: opacity 100ms, box-shadow 100ms, clip-path 1s;
    background: rgb(25, 35, 45) url('chrome-extension://__MSG_@@extension_id__/img/shrek.png') no-repeat center 50%;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    scrollbar-width: 13px;

    animation: 1s melt-enter;
    clip-path: path('M 0 399.76 C 16.66 541.42 33.34 612.26 50 612.26 C 75 612.26 71.82 462.8 100 462.26 C 128.18 461.7 125 568.5 150 568.5 C 175 568.5 174.34 416.1 200 424.76 C 225.66 433.4 225.42 601.6 250 600.94 C 274.58 600.26 275.52 478.08 300.96 474.76 C 326.38 471.42 324.32 587.26 349.08 587.26 C 365.58 587.26 382.56 524.76 400 399.76 L 400 0.26 L 0 0.26 L 0 399.76 Z');
}

#da-popup:not(.drag):has(#da-top-bar:hover) {
    box-shadow: 0 0 10px 5px rgb(15, 21, 27);
    transition: opacity 100ms, box-shadow 1s;
}

#da-popup.drag {
    box-shadow: 0 0 10px 10px rgb(15, 21, 27);
}

#da-popup.hidden {
    pointer-events: none;
    clip-path: path('M 0 -0.24 C 16.66 -16.92 33.34 -25.24 50 -25.24 C 75 -25.24 71.82 0.3 100 -0.24 C 128.18 -0.8 125 -69 150 -69 C 175 -69 174.34 -8.9 200 -0.24 C 225.66 8.4 225.42 -35.9 250 -36.56 C 274.58 -37.24 275.52 3.08 300.96 -0.24 C 326.38 -3.58 324.32 -50.24 349.08 -50.24 C 365.58 -50.24 382.56 -33.58 400 -0.24 L 400 -68.74 L 0 -68.74 L 0 -0.24 Z');
}

#da-popup.loading #da-ui {
    animation: none;
}

@keyframes melt-enter {
    0% {
        clip-path: path('M 0 -0.24 C 16.66 -16.92 33.34 -25.24 50 -25.24 C 75 -25.24 71.82 0.3 100 -0.24 C 128.18 -0.8 125 -69 150 -69 C 175 -69 174.34 -8.9 200 -0.24 C 225.66 8.4 225.42 -35.9 250 -36.56 C 274.58 -37.24 275.52 3.08 300.96 -0.24 C 326.38 -3.58 324.32 -50.24 349.08 -50.24 C 365.58 -50.24 382.56 -33.58 400 -0.24 L 400 -68.74 L 0 -68.74 L 0 -0.24 Z');
    }

    100% {
        clip-path: path('M 0 399.76 C 16.66 541.42 33.34 612.26 50 612.26 C 75 612.26 71.82 462.8 100 462.26 C 128.18 461.7 125 568.5 150 568.5 C 175 568.5 174.34 416.1 200 424.76 C 225.66 433.4 225.42 601.6 250 600.94 C 274.58 600.26 275.52 478.08 300.96 474.76 C 326.38 471.42 324.32 587.26 349.08 587.26 C 365.58 587.26 382.56 524.76 400 399.76 L 400 0.26 L 0 0.26 L 0 399.76 Z');
    }
}

#da-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--themeColor);
    color: white;
    cursor: move;
    text-align: center;
    border-radius: 15px;
    border: 0 solid transparent;
    margin: 7px;
    height: 23px;
    transition: 200ms linear;
    box-shadow: 0 0 2px white;
}

#da-top-bar.pinned {
    margin-bottom: 0;
    margin-right: 19.5px;
    border-radius: 15px 15px 0 0;
    border-bottom: 7px transparent solid;
    box-shadow: none;
}

#da-top-bar:hover {
    filter: brightness();
}

#da-top-bar>* {
    cursor: pointer;
    height: 100%;
    color: white;
}

#da-top-bar img {
    height: 100%;
}

/* Everything inside tool */

#da-content {
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 37px);
}

#da-content > * {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: 200ms linear;
}

#da-content > :nth-child(1 of .active) {
    opacity: 1;
    max-height: 400vh;
    pointer-events: initial;
    overflow: initial;
}

/* Menu and its buttons */

#da-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* max-height: 100vh;/ */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5%;
    overflow: hidden;
    background-color: rgb(25, 35, 45);
    z-index: 500;
    border-radius: 10px;
}

/* #da-menu.hidden {
    max-height: 0;
} */

#da-menu span {
    border-radius: 10px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/painter.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 35%;
    cursor: pointer;
    text-shadow: 0 0 4px black;
    min-height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: 15px;
    text-align: center;
    font-size: 20px;
    transition: background-size 1s;
}

#da-menu span:hover {
    background-size: 110%;
    transition: background-size 1s;
}

#da-menu span:nth-of-type(2) {
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/designer.png');
}

#da-menu span:nth-of-type(3) {
    color: rgb(0, 77, 77);
    text-shadow: 0 0 4px rgb(218, 99, 4);
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/mosaic_banner.png');
}

#da-menu span::after {
    /* position: absolute; */
    width: 65%;
    content: attr(data-desc);
    transform: translateX(50px);
    transition: 250ms;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(25, 35, 45, .7);
    color: white;
    opacity: 0;
}

#da-menu span:hover::after {
    transform: translateX(0px);
    opacity: 1;
}

#da-insert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

#da-insert.active {
    padding: 15px;
}

/* #da-insert.hidden {
    display: none;
} */

#da-insert>label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border: 5px dashed #909090;
    /* background-color: #909090; */
    border-radius: 10px;
    transition: 500ms;
    /* box-shadow: 0 0 10px #909090; */
    cursor: pointer;
}

#da-insert>label:hover {
    scale: 1.1;
}

#da-insert>label.highlight {
    box-shadow: inset 0 0 10px black;
    background-color: #3a3a3a94;
    scale: 0.9;
}

#da-insert>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: #909090;
    padding: 25px 5px 5px 5px;
    height: 60px;
    width: 100%;
    border-radius: 10px;
}

#da-insert>div::before {
    content: "Last Used";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 4px black;
}

#da-insert>div canvas {
    cursor: pointer;
    width: 15%;
    max-height: 100%;
    object-fit: contain;
    /* flex: 15%; */
    /* aspect-ratio: 1; */
    border-radius: 3px;
    image-rendering: pixelated;
    filter: drop-shadow(0 0 5px black);
}

/* dialog for setup and simmilar */
#da-dialog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* #da-dialog.hidden {
    display: none;
} */

/* The Main Ui of holo */

#da-ui {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    animation: 2s melt-enter;
}

#da-ui>div,
#da-ui>label {
    border-radius: 7px;
    padding: 7px;
    /* border: 7px dashed transparent; */
    text-shadow: 0 0 4px black;
    color: white;
    cursor: pointer;
    margin: 7px;
    align-items: center;
    justify-items: center;
    user-select: none;
    /* transition: .2s; */
    /* background-color: rgb(114, 114, 114); */
}

#da-ui .long {
    grid-column: 1 / 5;
    background-color: rgb(114, 114, 114);
    border-radius: 10px;
}


/* Statistics of art */
#da-stats {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* grid-template-columns: 1fr 4fr; */
    /* grid-template-rows: repeat(4, 1fr); */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left;
    image-rendering: pixelated;
}

/* #da-stats img {
    grid-row: 1 / 5;
    position: absolute;
    top: 0;
    height: 100%;
    left: 100%;
} */

#da-stats p {
    margin: 0;
}

#da-stats p {
    margin: 0;
}

/* Holo mode swap */

#holo-type+label {
    display: block;
    position: relative;
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/designer.png');
    padding: 25px;
    text-align: center;
    cursor: pointer;
}

#holo-type+label::before,
#holo-type+label::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    top: 0;
    left: 0;
    width: calc(100% - 7px);
    height: 100%;
    filter: brightness(.5);
    transition: clip-path 250ms, filter 100ms;
    border-radius: 10px;
    background-size: 100%;
}

#holo-type+label::before {
    content: 'Blueprint';
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/bp_bg.png');
    filter: brightness(1);
    padding-left: 7px;
}

#holo-type+label::after {
    content: 'Legacy';
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/legacy_bg.png');
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 80% 100%);
    padding-right: 7px;
    justify-content: flex-end;
}

#holo-type:checked+label::after {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%);
    filter: brightness(1);
}

#holo-type:checked+label::before {
    filter: brightness(.5);
}

#holo-type+label:hover:after {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

/* Holo setup */

#da-setup-btn {
    text-align: center;
    position: relative;
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/setup_color.png');
    background-size: cover;
    overflow: hidden;
    /* line-height: 21px; */
}

#da-setup-btn::after {
    position: relative;
    content: 'Holo Setup';
    width: 100%;
    /* line-height: 35px; */
    text-align: center;
    z-index: 100;
}

#da-setup-btn::before {
    /* line-height: 35px; */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background-size: cover;
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/setup_blank.png');
    /* clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 150ms steps(6);
    z-index: 98;
}

#da-setup-btn:hover::before {
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}

/* Sticky floating box */
@property --stickTheme {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(114, 114, 114);
}

.sticky {
    --stickTheme: rgb(114, 114, 114);
    display: grid;
    position: sticky;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-columns: minmax(0, 1fr); */
    grid-auto-flow: column;
    top: -1px;
    transition: --stickTheme 200ms;
    padding-right: 15px;
    z-index: 100;
    justify-items: center;
    background: linear-gradient(var(--stickTheme) 0%, rgb(114, 114, 114) 50%);
}

.sticky.simple {
    grid-template-columns: 1fr 1fr;
}

#da-ui .sticky.pinned {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px black;
}

/* Buttons on sticky box */

#da-popup #allButton {
    padding: 7px;
    background: var(--themeColor);
    color: rgb(114, 114, 114);
    border: 5px solid transparent;
}

#da-popup #checkButton {
    padding: 7px;
    background-color: transparent;
    color: var(--themeColor);
    border: 5px solid var(--themeColor);
}

/* Part selection */
.partSelector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.partSelector.tower {
    grid-template-columns: 1fr;
}

.partSelector label {
    background-color: #bcbcbc;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    transition: .2s;
}

.partSelector .blank {
    display: none;
}

.partSelector:has(.blank:nth-last-of-type(3)) {
    width: 30px;
    flex-wrap: wrap;
}

.partSelector label:hover {
    filter: brightness(0.8);
}

.partSelector input:checked+label {
    background-color: var(--themeColor);
    border-radius: 7px;
    box-shadow: inset 0 0 5px black;
}

/* Color labels */
#da-ui>.colorLabel {
    position: relative;
    text-align: center;
    height: 35px;
    line-height: 35px;
    text-shadow: 0 0 6px black;
    transform-origin: center;
    animation: popIn .5s;
    transition: 200ms;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    clip-path: path("M 32.414 51.324 C 28.308 50.884 29.07 46.228 20.977 52.937 C 5.727 51.91 -1.898 51.324 -3.951 41.646 C -10.549 32.995 -7.03 25.956 -3.951 26.103 C -6.444 15.399 -8.643 8.214 -2.484 -2.344 C 17.458 -2.344 24.056 -6.01 36.813 -4.25 C 31.094 -6.889 49.863 -10.995 55.875 -2.051 C 58.075 -5.423 64.087 -6.01 70.245 -2.49 C 81.536 -4.837 87.695 -1.611 84.175 8.36 C 81.752 15.377 86.228 18.038 83.882 26.25 C 89.454 33.435 85.788 36.807 85.202 48.538 C 74.351 51.764 72.005 50.737 62.914 51.617 C 57.048 51.03 53.676 49.857 47.664 52.35 C 44.291 51.03 40.185 51.764 37.4 51.324 Z");
}

@keyframes popIn {
    from {
        opacity: 0;
    }
}

#da-ui>.colorLabel[amount='0'] {
    display: none;
    pointer-events: none;
    filter: brightness(20%);
}

#da-ui>.colorLabel:not(.selected):hover {
    box-shadow: inset 0 0 10px black;
}

#da-ui>.colorLabel.selected {
    box-shadow: inset 0 0 20px green;
    clip-path: path("M 35.763 48.236 C 32.508 47.698 29.07 46.228 24.743 42.014 C 19.277 38.94 12.219 42.257 6.217 38.265 C 1.836 35.705 9.611 26.016 9.331 21.742 C 11.12 14.397 10.068 7.852 13.805 5.049 C 18.685 1.156 33.528 6.876 35.48 5.28 C 37.76 5.64 41.144 1.798 48.679 4.419 C 55.395 6.385 62.28 2.08 67.352 1.262 C 73.383 0.028 79.903 2.777 79.427 9.199 C 81.752 15.377 73.36 21.04 73.64 27.16 C 73.88 33.24 77.68 39.48 75.28 41.44 C 72.88 43.36 64.32 41 58.88 40.56 C 53.48 40.12 51.24 41.56 47.64 43.96 C 44 46.32 38.898 47.643 35.759 48.233 Z");
}

#da-ui>.colorLabel:after {
    content: attr(amount);
    line-height: normal;
    display: block;
    position: absolute;
    top: 0px;
    right: 7px;
    text-shadow: 0 0 4px black;
    font-size: smaller;
}

/* basics */

#da-popup button{
    padding: 10px;
    background: rgb(114, 114, 114);
    color: white;
    box-shadow: rgb(51, 51, 51) 0px 3px;
    text-shadow: 0 0 10px black;
    /* box-shadow: inset 0 0 5px black; */
}

#da-popup input[type='file'],
#da-popup input[type='checkbox'],
#da-popup input[type='radio'] {
    display: none;
}

[data-help] {
    position: relative;
}

[data-help]:hover::before {
    opacity: 1;
}

[data-help]::before {
    opacity: 0;
    content: attr(data-help);
    position: absolute;
    top: -110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #909090;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    transition: 100ms;
}

/* more basic - error popups */

#da-messageContainer {
    list-style: none;
    position: absolute;
    bottom: 1em;
    left: 50%;
    translate: -50%;
    z-index: 100;
    width: 80%;
    z-index: 500;
}

#da-messageContainer li {
    height: 0;
    list-style: none;
    position: relative;
    width: 100%;
    transition: all .6s ease-out;
}

#da-messageContainer li.show {
    height: 50px;
}

#da-messageContainer li.show:not(:first-child) {
    margin-top: 1.7em;
}

#da-messageContainer p {
    /* background-color: rgba(33, 143, 18, 0.8); */
    background-color: rgb(0, 159, 107, 0.8);
    /* background-color: rgba(196, 2, 51, 0.8); */
    opacity: 0;
    border-radius: 10px;
    padding: 1em;
    margin: 0;
    width: calc(100% - 2em);
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(200px);
    transition: all .6s ease-out;
}

#da-messageContainer p.show {
    opacity: 1;
    transform: translateY(0px);
}

#da-messageContainer p.error {
    /* background-color: rgba(143, 18, 18, 0.8); */
    background-color: rgba(196, 2, 51, 0.8);
}